<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
    <script src="/coleccionFront.js" defer></script>
    <script src="/homeFront.js"></script>
    <body style="background-color: black;">

        <!--Barra de navegación-->
         <%-include ('./partials/nav.ejs') %>
         <div id="mySidebar" class="sidebar" style="z-index:100;">
            <a href="javascript:void(0)" class="closebtn" id="close">×</a>
            <a href="/productos/createProduct">Crea tu Nft</a>
            <a href="#">Cart</a>
            <a href="/profile">Mi cuenta</a>
            <a href="#">Contáctanos</a>
          </div>
        <STYLE>A {text-decoration: none;} </STYLE>
        <!--Presentacion de cada nft-->
        <div class="presentacion" style="background-image:url('/imagenes/<%=image%>')">
            <h2><%= coleccionName %> </h2>
        </div>
        <!--<div class="coleccion-descripcion">
            <p class="parrafo-descripcion">
                The Bored Ape Yacht Club is a collection of 10,000 unique Bored Ape NFTs— unique digital collectibles living on the Ethereum blockchain.
                Your Bored Ape doubles as your Yacht Club membership card, and grants access to members-only benefits, the first of which is access to
                THE BATHROOM, a collaborative graffiti board. Future areas and perks can be unlocked by the community through roadmap activation.
                 Visit www.BoredApeYachtClub.com for more details
            </p>
            <p class="items-owners">
                10K items 6.4K owners
            </p>
        </div>-->
    <!--Barra de búsqueda-->
        <div class="Barra-de-info">
            <form action="#" method="get">
                <input type="text" placeholder="Buscá por nombre o atributo" id="barra-de-colecciones">
                <button type="submit" id="lupa" class="buttonsofnav">
                    <i class="fas fa-search"></i>
                </button>
           </form>
           <select name="opciones" id="opciones">
                <option class="option" value="null">Seleccione una opción</option>
                <option class="option" value="porPrecioalto" id="porPrecioAlto">De más caro a más barato</option>
                <option class="option" value="porPreciobajo" id="porPrecioBajo">De más barato a más caro</option>
                <option class="option" value="MasPopulares" id="masPopulares">Más populares</option>
                <option class="option" value="MenosPopulares" id="menosPopulares">Menos populares</option>
                <option class="option" value="MasRaros" id="masRaros">Mayor rareza</option>
            </select>
        </div>
    <!--coleccion-->
    <% for( let i = 0; i < products.length; i++ ) { %>
        <% let product = products[i] %>
        <% if (i == 0 || i%4 == 0) { %>
            <div class="slider-container">
        <% } %>
        <div class="coleccion">
            <a href="/productos/productDetail/<%= product.idNFTs %>">
                <img class="slider-item" src= "/imagenes/<%= product.image %>"  alt="" width="350px" height="197px">
                <div class="description">
                   
                    <p><%= product.name %> </p>
                     <span class="check"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="descripction-body">
                price:<%= product.price %>
                </div>
                <div class="buynow">
                    Buy now!
                </div>
            </a>
        </div>
       <% if ((i + 1)%4 == 0 || i == products.length - 1) { %>
         </div>
         <div class="separe"></div>
        <% } %>
    <% } %>
    <div class="separe"></div>
<!--Footer-->
     <%-include('./partials/footer.ejs')%>
    </body>
</html>