<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
    <link rel="stylesheet" href="/css/coleccion.css">
    <body>
        <!--Barra de navegación-->
         <%-include ('./partials/nav.ejs') %>
        <STYLE>A {text-decoration: none;} </STYLE>
        <!--Presentacion de cada nft-->
        <div class="presentacion">
            <h2>Bored Ape</h2>
        </div>
        <div class="coleccion-descripcion">
            <p class="parrafo-descripcion">
                The Bored Ape Yacht Club is a collection of 10,000 unique Bored Ape NFTs— unique digital collectibles living on the Ethereum blockchain. 
                Your Bored Ape doubles as your Yacht Club membership card, and grants access to members-only benefits, the first of which is access to 
                THE BATHROOM, a collaborative graffiti board. Future areas and perks can be unlocked by the community through roadmap activation.
                 Visit www.BoredApeYachtClub.com for more details
            </p>
            <p class="items-owners">
                10K items 6.4K owners
            </p>

        </div>
    <!--Barra de búsqueda-->
        <div class="Barra-de-info">
            <form action="#" method="get">
                <input type="text" placeholder="Buscá por nombre o atributo" id="barra-de-colecciones">
                <button type="submit" id="lupa" class="buttonsofnav">
                    <i class="fas fa-search"></i>
                </button>
           </form>
           <select name="opciones" id="opciones">
                <option class="option" value="porPrecioalto">De más caro a más barato</option>
                <option class="option" value="porPreciobajo">De más barato a más caro</option>
                <option class="option" value="MasPopulares">Más populares</option>
                <option class="option" value="MenosPopulares">Menos populares</option>
                <option class="option" value="MasRaros">Mayor rareza</option>
            </select>
        </div>
    <!--coleccion-->
    <div class="slider-container">
        <div class="coleccion">
            <a href="/coleccion/productDetail1">
                <img class="slider-item" src= <%= products[0].imagen %>  alt="" width="350px" height="197px">
                <div class="description">
                    <p><%= products[0].name %> </p>
                     <span class="check"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="descripction-body">
                price:<%= products[0].price %> 
                </div>
                <div class="buynow">
                    Buy now!
                </div>
            </a>
        </div>
        <div class="coleccion">
            <a href="/coleccion/productDetail2">
                <img class="slider-item" src=<%= products[1].imagen %>  alt="" width="350px" height="197px">
                <div class="description">
                    <p><%= products[1].name %> </p>
                    <span class="check"><i class="fas fa-check-circle"></i></span>
                 </div>
                <div class="descripction-body">
                price:<%= products[1].price %> 
                </div>
                <div class="buynow">
                    Buy now!
                </div>
             </a>
        </div>
        <div class="coleccion">
            <a href="/coleccion/productDetail3">
            <img class="slider-item" src=<%= products[2].imagen %>  alt="" width="350px" height="197px">
            <div class="description">
                <p><%= products[2].name %> </p>
                <span class="check"><i class="fas fa-check-circle"></i></span>
            </div>
            <div class="descripction-body">
                price:<%= products[2].price %> 
            </div>
            <div class="buynow">
                Buy now!
             </div>
        </a>
        </div> 
        <div class="coleccion">
            <a href="/coleccion/productDetail4">
            <img class="slider-item" src= <%= products[3].imagen %>  alt="" width="350px" height="197px">
            <div class="description">
                <p><%= products[3].name %> </p>
                <span class="check"><i class="fas fa-check-circle"></i></span>
            </div>
            <div class="descripction-body">
                price:<%= products[3].price %> 
            </div>
        
            <div class="buynow">
                Buy now!
             </div>
            </a>
        </div>
    </div>  
</div>
<!--Separación-->
<div class="separe"></div>
<div>
   <div class="slider-container">
        <div class="coleccion">
            <a href="/coleccion/productDetail5">
            <img class="slider-item" src=<%= products[4].imagen %>  alt=""  width="350px" height="197px">
            <div class="description">
                <p><%= products[4].name %> </p>
                <span class="check"><i class="fas fa-check-circle"></i></span>
            </div>
            <div class="descripction-body">
                price:<%= products[4].price %> 
            </div>
            <div class="buynow">
                Buy now!
             </div>
             </a>
       </div>
        <div class="coleccion">
            <a href="/coleccion/productDetail6">
            <img class="slider-item" src= <%= products[5].imagen %>  alt=""  width="350px" height="197px">
            <div class="description">
                <p><%= products[5].name %> </p>
                <span class="check"><i class="fas fa-check-circle"></i></span>
            </div>
            <div class="descripction-body">
                price: <%= products[5].price %> 
            </div>
            <div class="buynow">
                Buy now!
             </div>
             </a>
        </div>
        <div class="coleccion">
            <a href="/coleccion/productDetail7">
            <img class="slider-item" src= <%= products[6].imagen %>  alt=""  width="350px" height="197px">
            <div class="description">
                <p><%= products[6].name %> </p>
                <span class="check"><i class="fas fa-check-circle"></i></span>
            </div>
            <div class="descripction-body">
                price:<%= products[6].price %> 
            </div>
            <div class="buynow">
                Buy now!
             </div>
             </a>
        </div>
        <div class="coleccion">
            <a href="/coleccion/productDetail8">
            <img class="slider-item" src= <%= products[7].imagen %>  alt=""  width="350px" height="197px">
            <div class="description">
                <p><%= products[7].name %> </p>
                <span class="check"><i class="fas fa-check-circle"></i></span>
            </div>
            <div class="descripction-body">
                price: <%= products[7].price %> 
            </div>
            <div class="buynow">
                Buy now!
             </div>
            </a>
        </div> 
  </div>  
</div>
<!--Separación-->
<div class="separe"></div>
<div>
    <div class="slider-container">
        <div class="coleccion">
            <a href="/coleccion/productDetail9">
            <img class="slider-item" src= <%= products[8].imagen %>  alt=""  width="350px" height="197px">
            <div class="description">
                <p><%= products[8].name %> </p>
                <span class="check"><i class="fas fa-check-circle"></i></span>
            </div>
            <div class="descripction-body">
                price:<%= products[8].price %> 
            </div>
            <div class="buynow">
                Buy now!
             </div>
             </a>
        </div>
        <div class="coleccion">
            <a href="/coleccion/productDetail10">
            <img class="slider-item" src= <%= products[9].imagen %>  alt=""  width="350px" height="197px">
            <div class="description">
                <p><%= products[9].name %> </p>
                <span class="check"><i class="fas fa-check-circle"></i></span>
            </div>
            <div class="descripction-body">
                price:<%= products[9].price %> 
            </div>
            <div class="buynow">
                Buy now!
             </div>
             </a>
        </div>
        <div class="coleccion">
            <a href="/coleccion/productDetail11">
            <img class="slider-item" src= <%= products[10].imagen %>  alt=""  width="350px" height="197px">
            <div class="description">
                <p><%= products[10].name %> </p>
                <span class="check"><i class="fas fa-check-circle"></i></span>
            </div>
            <div class="descripction-body">
                price:<%= products[10].price %> 
            </div>
            <div class="buynow">
                Buy now!
             </div>
             </a>
        </div>
        <div class="coleccion">
            <a href="/coleccion/productDetail12">
            <img class="slider-item" src= <%= products[11].imagen %>  alt=""  width="350px" height="197px">
            <div class="description">
                <p><%= products[11].name %> </p>
                <span class="check"><i class="fas fa-check-circle"></i></span>
            </div>
            <div class="descripction-body">
                price:<%= products[11].price %> 
            </div>
            <div class="buynow">
                Buy now!
             </div>
             </a>
        </div> 
    </div>
    <div class="separe"></div>
<!--Footer-->
     <%-include('./partials/footer.ejs')%>
    </body>
</html>