<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head.ejs')%>
 
 <title>Crear NFT</title>
<body>
  <main class="fondo">
  <%-include ('./partials/nav.ejs') %> 
 
  <div class="productForm">
    <div class="logo">
      <a href="/">
        <img src="/imagenes/Nftlogo.png" alt="Nft" />
      </a>
      <i class="fas fa-paint-brush"></i>
    </div>
    <form class="form_create" action="/productos/createProduct" method="post" enctype="multipart/form-data">
      <div class="imagenForm">
        <label for="imagenPrincipal">Seleccionar Imagen</label>
        <input type="file" name="imagen" id="imagenPrincipal" accept="image/*" />
      </div>
      <div class="tituloForm">
        <label for="titulo">Titulo del NFT:</label>
        <input type="text" name="name" id="titulo" />
      </div>
      <div class="descripcionForm">
        <label for="descripcion">Nivel de rareza:</label>
        <input name="oddity" id="descripcion"></input>
      </div>
      <div class="precioForm">
        <label for="precio">Precio:</label>
        <input type="number" name="price" id="precio" step="0.01" />
      </div>
      <div>
        <label for="coleccion">Coleccion:</label>
        <select name="coleccion" id="coleccion">
          <option value="null">Selecciona una colección:</option>
          <% for( let i = 0; i < coleccion.length; i++ ) { %>
          <option value="<%= coleccion[i].id_coleccion  %> >"><%= coleccion[i].name %> </option>
          <% } %>
        </select>
      </div>
      <div class="submitForm">
        <button type="submit">Publicar Nft</button>
      </div>
    </form>
  </div>
  
  <br>
</main>
   <!--Footer-->
 <%-include('./partials/footer.ejs')%>
    
</body>

</html>