<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head')%>

  <body>
    <!--Barra de navegacion-->
    <%-include ('./partials/nav.ejs') %>
    <!--Detalle del producto-->
    <div class="detalleimgEdit">
      <form method="POST" action="/productos/productDetail/<%= product.idNFTs %>/edit?_method=PUT" enctype="multipart/form-data">
        <input type="text" name="name" value="<%= product.name %> " />
        <figure>
          <img
            src="<%= product.image ? product.image : '/imagenes/default-placeholder.png' %> "
            alt="Imagen del Nft"
            width="500rem"
            height="500rem"
          />
        </figure>

        <input type="file" id="imagen-nft" name="imagen" required />

        <input type="text" name="coleccion" value="<%= product.coleccion.name%> " disabled />

        <input type="text" name="price" value="<%= product.price %> "  />

        <input type="text" name="oddity" value="<%= product.oddity %> " />

        <button type="submit">Modificar Nft</button>
      </form>
    </div>
    <!--Footer-->
    <!-- <%-include('./partials/footer.ejs')%> -->
  </body>
</html>
