<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head')%>

  <body>
    <!--Barra de navegacion-->
    <%-include ('./partials/nav.ejs') %>
    <!--Detalle del producto-->
    <div class="detalleimgEdit">
      <form method="POST" action="/productos/productDetail/<%= product.id %>/edit?_method=PUT" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Nombre de Nft" />
        <figure>
          <img
            src="<%= product.imagen ? product.imagen : '/imagenes/default-placeholder.png' %> "
            alt="Imagen del Nft"
            width="500rem"
            height="500rem"
          />
        </figure>

        <input type="file" id="imagen-nft" name="imagen" required />

        <input type="text" name="coleccion" placeholder="  Coleccion" />

        <input type="text" name="price" placeholder="  Precio" />

        <input type="text" name="oddity" placeholder="   Rareza" />

        <button type="submit">Modificar Nft</button>
      </form>
    </div>
    <!--Footer-->
    <!-- <%-include('./partials/footer.ejs')%> -->
  </body>
</html>
