<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head')%>
  <link rel="stylesheet" href="/css/styleDetail.css" />

  <body>
    <!--Barra de navegacion-->
    <%-include ('./partials/nav.ejs') %>
    <!--Detalle del producto-->
    <div class="detalleimg">
      <div class="titulo">
         <%= producto.name %> 
        
         </div>
      <a href="/productos/productDetail/:id/edit">
        <button>Editar</button>
      </a> 
      <img alt="Bored ape nft" src="<%= producto.imagen%> " height="400rem" />

      <div class="codigonft">
        <h4>Coleccion: <%= producto.coleccion %> </h4>
        <div class="codigo">
          <h4>Codigo NFT: <%= producto.name %> </h4>
        </div>
      </div>

      <div class="precio">
        <p>Precio: <%= producto.price %> </p>
        <button>Añadir al carrito</button>
      </div>
      <a href="/productos">
        <button>BACK</button>
      </a>
    </div>
    <!--Footer-->
    <!-- %-include('./partials/footer.ejs')%> -->
  </body>
</html>
