<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/registro.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <form action="/registro" class="registro" method="post" enctype="multipart/form-data">
            <a href="/"><img src="/imagenes/Nftlogo.png" alt=""></a>

            <div class="form-box">
                <label for="nombreU">Nombre:</label>
                <input type="text" name="nombreU" id="userName" required minlength="4" maxlength="18">
=======
<!--head-->
<%- include('./partials/head.ejs')%>
<body class="body-register">
    <%-include ('./partials/nav.ejs') %> 
    <STYLE>A {text-decoration: none;} </STYLE>
    <div class="container" >
        <div class="contenedor_register">
        <form class="form-register" action="/registro" class="registro" method="post" enctype="multipart/form-data">
            <a href="/home"><img src="/imagenes/Nftlogo.png" alt="" ></a> 

            <div class="form-box">
                <label for="nombreU">Nombre:</label>
                <input 
                type="text" 
                name="name" 
                id="userName"
                class="<%= locals.errores && errores.name ? 'input_error': null %> "
                value="<%= locals.old && old.name ? old.name : null %>" >
>>>>>>> 76f881a9ae05ca2fb6d04a99e90cd04e445f1b81
            </div>
             <% if (locals.errores && errores.name) { %>
              <p class="error"><%=errores.name.msg %></p>
             <% } %>
            <div class="form-box">
                <label for="apellidoU">Apellido:</label>
                <input
                 type="text"
                 name="lastName"
                 id="userlastName" 
                 class="<%= locals.errores && errores.lastName ? 'input_error': null %> "
                 value="<%= locals.old && old.lastName ? old.lastName : null %>">
            </div>
            <% if (locals.errores && errores.lastName) { %>
                <p class="error"><%=errores.lastName.msg %></p>
               <% } %>
            <div class="form-box">
                <label for="userEmail">Email:</label>
                <input 
                type="email" 
                name="email" 
                id="userEmail" 
                class="<%= locals.errores && errores.email ? 'input_error': null %> "
                value="<%= locals.old && old.email ? old.email : null %> " >
            </div>
            <% if (locals.errores && errores.email) { %>
                <p class="error"><%=errores.email.msg %></p>
               <% } %>
            <div class="form-box">
                <label for="userPassword">Contraseña:</label>
                <input 
                type="password" 
                name="password" 
                id="userPassword" 
                class="<%= locals.errores && errores.password ? 'input_error': null %> ">
            </div>
            <% if (locals.errores && errores.password) { %>
                <p class="error"><%=errores.password.msg %></p>
               <% } %>
          
            <div class="avatar_registro ">
                <label for="avatar">Sube aquí tu avatar:</label>
                <input
                 type="file" 
                 id="avatar"
                 name="avatar"
                 class="<%= locals.errores && errores.avatar ? 'input_error': null %> ">
            </div>
            <% if (locals.errores && errores.avatar) { %>
                <p class="error"><%=errores.avatar.msg %></p>
               <% } %>

            <div class="form-term">
                <a href="#"> He leido y acepto los terminos y condiciones</a>
                <input type="radio" id="termsAndCondition">
            </div>

                <div class="form-submit">
                    <button type="submit">Registrarse</button>
                </div>
        </form>
<<<<<<< HEAD
        <a href="/login">Ya tenes una cuenta? ingresa.</a>

=======
    </div>
         
        
>>>>>>> 76f881a9ae05ca2fb6d04a99e90cd04e445f1b81
    </div>
</body>

</html>