<!DOCTYPE html>
<html lang="en">
<!--head-->
<%- include('./partials/head.ejs')%>
<body class="body-register">
    <%-include ('./partials/nav.ejs') %> 
    <STYLE>A {text-decoration: none;} </STYLE>
    <div class="container" >
        <div class="contenedor_register">
        <form class="form-register" action="/registro" class="registro" method="post" enctype="multipart/form-data">
            <a href="/"><img src="/imagenes/Nftlogo.png" alt="" ></a> 

            <div class="form-box">
                <label for="nombreU">Nombre:</label>
                <input 
                type="text" 
                name="nombreU" 
                id="userName"
                class="<%= locals.errores && errores.nombreU ? 'input_error': null %> "
                value="<%= locals.old && old.nombreU ? old.nombreU : null %> " >
            </div>
             <% if (locals.errores && errores.nombreU) { %>
              <p class="error"><%=errores.nombreU.msg %></p>
             <% } %>
            <div class="form-box">
                <label for="apellidoU">Apellido:</label>
                <input
                 type="text"
                 name="apellidoU"
                 id="userlastName" 
                 class="<%= locals.errores && errores.apellidoU ? 'input_error': null %> "
                 value="<%= locals.old && old.apellidoU ? old.apellidoU : null %> ">
            </div>
            <% if (locals.errores && errores.apellidoU) { %>
                <p class="error"><%=errores.apellidoU.msg %></p>
               <% } %>
            <div class="form-box">
                <label for="userEmail">Email:</label>
                <input 
                type="email" 
                name="emailU" 
                id="userEmail" 
                class="<%= locals.errores && errores.emailU ? 'input_error': null %> "
                value="<%= locals.old && old.emailU ? old.emailU : null %> " >
            </div>
            <% if (locals.errores && errores.emailU) { %>
                <p class="error"><%=errores.emailU.msg %></p>
               <% } %>
            <div class="form-box">
                <label for="userPassword">Contraseña:</label>
                <input 
                type="password" 
                name="contraseniaU" 
                id="userPassword" 
                class="<%= locals.errores && errores.contraseniaU ? 'input_error': null %> ">
            </div>
            <% if (locals.errores && errores.contraseniaU) { %>
                <p class="error"><%=errores.contraseniaU.msg %></p>
               <% } %>
          
            <div class="avatar_registro ">
                <label for="avatar">Sube aquí tu avatar:</label>
                <input
                 type="file" 
                 id="avatar"
                 name="avatar"
                 class="<%= locals.errores && errores.avatar ? 'input_error': null %> ">
            </div>
            <% if (locals.errores && errores.avatar) { %>
                <p class="error"><%=errores.avatar.msg %></p>
               <% } %>

            <div class="form-term">
                <a href="#"> He leido y acepto los terminos y condiciones</a>
                <input type="radio" id="termsAndCondition">
            </div>

            <div class="form-submit">
                <button type="submit">Registrarse</button>
            </div>
        </form>
    </div>
         
        
    </div>
</body>
</html>