<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>
<script src="/registerValidations.js"></script>
<body class="body-register">
    <%-include ('./partials/nav.ejs') %> 
    <STYLE>A {text-decoration: none;} </STYLE>
    <div class="container" >
        <div class="contenedor_register">
        <form class="form-register" action="/register" class="registro" method="post" enctype="multipart/form-data">
            <a href="/home"><img src="/imagenes/Nftlogo.png" alt="" ></a> 
            <div class="form-box">
                <label for="userName">Nombre:</label>
                <input 
                type="text" 
                name="name" 
                id="user_name"
                class="<%= locals.errores && errores.name ? 'input_error': null %> "
                value="<%= locals.old && old.name ? old.name : null %>" >
            </div>
             <% if (locals.errores && errores.name) { %>
              <p class="error"><%=errores.name.msg %></p>
             <% } %>
             <div class="error-name"></div>
            <div class="form-box">
                <label for="userlastName">Apellido:</label>
                <input
                 type="text"
                 name="lastName"
                 id="user_lastName" 
                 class="<%= locals.errores && errores.lastName ? 'input_error': null %> "
                 value="<%= locals.old && old.lastName ? old.lastName : null %>">
            </div>
            <% if (locals.errores && errores.lastName) { %>
                <p class="error"><%=errores.lastName.msg %></p>
               <% } %>
               <div class="error-lastName"></div>
            <div class="form-box">
                <label for="userEmail">Email:</label>
                <input 
                type="email" 
                name="email" 
                id="user_email" 
                class="<%= locals.errores && errores.email ? 'input_error': null %> "
                value="<%= locals.old && old.email ? old.email : null %> " >
            </div>
            <% if (locals.errores && errores.email) { %>
                <p class="error"><%=errores.email.msg %></p>
               <% } %>
            <div class="error-email"></div>
            <div class="form-box">
                <label for="userPassword">Contraseña:</label>
                <input 
                type="password" 
                name="password" 
                id="user_password" 
                class="<%= locals.errores && errores.password ? 'input_error': null %> ">
            </div>
            <% if (locals.errores && errores.password) { %>
                <p class="error"><%=errores.password.msg %></p>
               <% } %>
          <div class="error-password"></div>
            <div class="avatar_registro ">
                <label for="avatar">Sube aquí tu avatar:</label>
                <input
                 type="file" 
                 id="user_avatar"
                 name="avatar"
                 class="<%= locals.errores && errores.avatar ? 'input_error': null %> ">
            </div>
            <% if (locals.errores && errores.avatar) { %>
                <p class="error"><%=errores.avatar.msg %></p>
               <% } %>
            <div class="error-avatar"></div>
            <div class="form-term">
                <a href="#"> He leido y acepto los terminos y condiciones</a>
                <input type="radio" id="termsAndCondition">
            </div>
            <div class="error-terms"></div>
            <div class="form-submit">
                <button type="submit">Registrarse</button>
            </div>
            <a href="/">Ya tenes una cuenta? ingresa.</a>
        </form>
    </div>
    <div class="footer_register">
        <%-include('./partials/footer.ejs')%>
    </div>
   
</body>

</html>